* {
  box-sizing: border-box; }

body {
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.container {
  height: 100vh;
  width: 100vw;
  padding: 10vh 20vw;
  display: flex;
  flex-direction: column; }

.slider {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  width: 60vw;
  height: 100%; }
  .slider__list {
    display: flex;
    position: relative;
    top: 0;
    width: 50000px;
    height: 100%; }
    .slider__list--transitionend {
      transition: left .5s linear; }
  .slider__item {
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem; }
    .slider__item:nth-child(1), .slider__item:nth-child(6) {
      background-color: coral; }
    .slider__item:nth-child(2), .slider__item:nth-child(7) {
      background-color: deepskyblue; }
    .slider__item:nth-child(3) {
      background-color: sandybrown; }
    .slider__item:nth-child(4) {
      background-color: palevioletred; }
    .slider__item:nth-child(5) {
      background-color: yellowgreen; }
  .slider__button {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fff no-repeat center;
    cursor: pointer; }
    .slider__button--prev {
      left: 0; }
      .slider__button--prev:active {
        transform: scale(0.8); }
    .slider__button--next {
      right: 0; }
      .slider__button--next:active {
        transform: scale(0.8); }
  .slider__radio {
    margin-top: 60px;
    margin-bottom: 10px; }

.radio {
  display: flex;
  justify-content: center; }
  .radio__label {
    height: 15px;
    width: 15px;
    margin: 0 10px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .radio__label:hover .radio__span {
      background-color: #555; }
  .radio__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .radio__input:checked ~ .radio__span {
      background-color: #ba8d23;
      transform: scale(1.5);
      transition: transform 1s; }
      .radio__input:checked ~ .radio__span:after {
        display: block; }
  .radio__span {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ba8d23;
    border-radius: 50%; }
    .radio__span:after {
      content: "";
      position: absolute;
      display: none;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      border-radius: 50%;
      background-color: #555; }
